Case Study 01: Sales Force Training

Perusahaan X ingin meningkatkan penjualan mereka. Dari data penjualan sebelumnya menunjukkan bahwa penjualan rata-rata yaitu $100 per transaksi. Setelah melakukan training kepada pekerja sales, data penjualan terbaru (yang diambil dari 25 sampel pekerja sales) tersimpan dalam tabel

In [ ]:
import pandas as pd
import numpy as np
import statistics
import scipy.stats as stats

In [ ]:
# 1. Creating a Data Frame
TransactionsAmount = np.array ([100, 150, 50, 100, 130, 120, 100, 85, 70, 150,
                                   150, 120, 50, 100, 100, 140, 90, 150, 50, 90,
                                   120, 100, 110, 75, 65])

TransactionsAmount

array([100, 150,  50, 100, 130, 120, 100,  85,  70, 150, 150, 120,  50,
       100, 100, 140,  90, 150,  50,  90, 120, 100, 110,  75,  65])

In [ ]:
# 2. Analisis Measure of Tendency
print("Mean = ",statistics.mean(TransactionsAmount))
print("Median = ",statistics.median(TransactionsAmount))
print("Modus = ",statistics.mode(TransactionsAmount))

Mean =  102
Median =  100
Modus =  100

In [ ]:
# 3. Analisis Measure of Variability

print("Variance = ",np.var(TransactionsAmount))
print("Standard Deviation = ",np.std(TransactionsAmount))
print("Range = ",np.max(TransactionsAmount) - np.min(TransactionsAmount))
print("1st quantile = ",np.quantile(TransactionsAmount, 0.25))
print("2nd quantile = ",np.quantile(TransactionsAmount, 0.5))
print("3rd quantile = ",np.quantile(TransactionsAmount, 0.75))

Variance =  972.2399999999999
Standard Deviation =  31.18076330047101
Range =  100
1st quantile =  85.0
2nd quantile =  100.0
3rd quantile =  120.0

4. Define H0 dan H1

H0 : The Average of the 25 days transactions amount = 100

H1 : The Average of the 25 days transactions amount > 100

5. Define T-Test, alpha = 0.05
Calculate t statistic and p value

In [ ]:
stats.ttest_1samp (a = TransactionsAmount, popmean = 100)

TtestResult(statistic=0.4085001556802841, pvalue=0.6865284813438117, df=24)

statistic = 0.4085001556802841 and pvalue = 0.6865284813438117

In [ ]:
# H1: Larger (right side)
stats.t.ppf(1-0.05, 24)

1.7108820799094275

Critical region: t > 1,71
t is not in cirital region, so we fail to reject H0

H0 is right: The Average of the 25 days transactions amount is still at 100